//! **************************************************************************
// Written by: Map P.28xd on Thu Apr 26 18:51:04 2018
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "rst" LOCATE = SITE "T5" LEVEL 1;
COMP "b<0>" LOCATE = SITE "R7" LEVEL 1;
COMP "b<1>" LOCATE = SITE "T7" LEVEL 1;
COMP "g<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "g<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "g<2>" LOCATE = SITE "V6" LEVEL 1;
COMP "r<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "r<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "r<2>" LOCATE = SITE "N7" LEVEL 1;
COMP "hs" LOCATE = SITE "N6" LEVEL 1;
COMP "led<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "led<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "led<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "led<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "led<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "led<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "led<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "led<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "vs" LOCATE = SITE "P7" LEVEL 1;
COMP "keyclk" LOCATE = SITE "L12" LEVEL 1;
COMP "keyinput" LOCATE = SITE "J13" LEVEL 1;
COMP "switch<7>" LOCATE = SITE "T10" LEVEL 1;
SCHEMATIC END;

